.first-section{
    background-image: url("./Assets/15.svg");
    position: relative;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-section{
    background-image: url("./Assets/3.svg");
    position: relative;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-wrap{
    max-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 767px) {
    .image-wrap{
        min-height: 200px;
        max-width: 80%;
    }
    .second-section{
        min-height: 500px;
    }
    .vert-align{
        margin-top:10%;
    }
    .image-content-left > div{
        margin: 0;
    }
}
/*      Font style      */
.text-light{
    color: #ffffff;
}
.text-blue{
    color: #007BFF;
}
.text-black{
    color: black;
}

.text-large{
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-weight: bolder;
}

.text-medium{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.text-small{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.text-vsmall{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


/*      Button style        */
.btn-outline-primary{
    background: #ffffff;
}
.btn-outline-primary:hover{
    background: #37A2F1;
}


.top-content-text{
    margin-top: 5%;
}
.vert-align {
    margin-top:20%;
}
.image-content-right > div{
    margin-left: 30%;
}

.image-content-left > div{
    margin-left: 10%;
}

/*      Table style     */
.borderless td, .borderless th {
    border: none;
}
