body{
    transition: all 2s;
}
.first-section{
    background-image: url("./Assets/15.svg");
    position: relative;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-section{
    background-image: url("./Assets/3.svg");
    position: relative;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-light{
    background-image: url("./Assets/3.svg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
}
.section-blue{
    background-image: url("./Assets/2.svg");
    position: relative;    
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center;
}

.image-wrap{
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*      Transition Animation CSS        */
.animated-card {
transition: all 1s;
}
.animated-card-short{
transition: all 0.5s;  
}
/*  Slide Animation   */
.slide-animate-enter, .slide-animate-leave-to{
opacity: 0;
transform: translateY(40px);
}
.slide-animate-leave-active {
position: absolute;
}

.slide-animate-short-enter, .slide-animate-short-leave-to{
opacity: 0;
transform: translateY(20px);
}
.slide-animate-short-leave-active {
position: absolute;
}
/*  Fade Animation   */
.fade-animate-enter, .fade-animate-leave-to{
opacity: 0;
}
.fade-animate-leave-active {
position: absolute;
}

/*          Responsive CSS          */
@media only screen and (max-width: 767px) {
    .image-wrap{
        min-height: 200px;
        max-width: 80%;
    }
    .second-section{
        min-height: 500px;
    }
    .vert-align{
        margin-top:10%;
    }
    .image-content-left > div{
        margin: 0;
    }
    .center{
        padding: auto;
    }
}
@media only screen and (max-width: 1000px) {
.rounded-circle{
    display: none;
}
}
/*      Font style      */
.text-light{
    color: #ffffff;
}
.text-blue{
    color: #007BFF;
}
.text-black{
    color: black;
}
.text-grey{
    color: #697A89;
}
.text-glowWhite{
    color: #ffffff;
    text-shadow: 2px 2px rgb(41, 133, 199);
}
.text-glowOrange{
    color: #ffffff;
    text-shadow: 2px 2px rgb(180, 130, 93);
}

.text-large{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.text-medium{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.text-small{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.text-vsmall{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.text-vvsmall{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.text-bold{
    font-weight: bolder;
}

@media only screen and (max-width: 1000px) {
    .text-large{
        font-family: 'Open Sans', sans-serif;
        font-size:35px;
        font-weight: bolder;
    }
    .text-medium{
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
    .text-small{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
}


/*      Button style        */
.btn-outline-primary{
    background: #ffffff;
}
.btn-outline-primary:hover{
    background: #37A2F1;
}


.top-content-text{
    margin-top: 5%;
}
.vert-align {
    margin-top:20%;
}
.image-content-right > div{
    margin-left: 30%;
}

.image-content-left > div{
    margin-left: 10%;
}

/*      Table style     */
.borderless td, .borderless th {
    border: none;
}

/*      footer style        */

footer{
    background-color: #022144;
}


/*      Skills Animtion     */
.skill-parent{
    overflow: hidden;
}
.skill-child{
    position: relative;
}
.left-right{
    animation: left-right 50s infinite;            
    animation-timing-function: linear;
    animation-direction: normal;
}
.right-left{
    animation: right-left 50s infinite;            
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes left-right {
    0%   {left: -100%}
    100% {left: 100%}
}
@keyframes right-left {
    0%   {left: 100%}
    100% {left: -100%}
}

/*      Navbar Dropdown     */
.nav-bar-dropdown{
    width: 100%;
    margin-left: 0;
}
.dropdown-card{
    background-color: #ffffff;
    color: #37A2F1;
}
.dropdown-card:hover{
    
    box-shadow: 0 0 20px rgb(44, 173, 209);
}

.image-wrap-small{
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:;
}

@media only screen and (max-width: 767px) {
   
    .image-wrap-small{
        min-height: 130px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    } 
}

a, a:hover, a:focus, a:active, a:link , a:visited{
    text-decoration: none;
    color: none;
}

/* Make the image fully responsive */
.carousel{
    width: 300px;
    height: 200px;
}
.carousel-inner img {
    display: block;
    width: auto;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1000px) {

    .carousel{
        width: 280px;
        height: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .achi-list{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-inner img {
        display: block;
        width: auto;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*      Projects Section Style      */
.project-card{
    max-width: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card img{
    display: block;
    width: auto;
    height: 180px;
}

.custom-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*@media only screen and (max-width: 1000px) {
    .card{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}*/