.first-section{
    background-image: url("./Assets/15.svg");
    position: relative;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-section{
    background-image: url("./Assets/2.svg");
    position: relative;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*      Font style      */
.text-light{
    color: #ffffff;
}

.text-large{
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-weight: bolder;
}

.text-medium{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.text-small{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


/*      Button style        */
.btn-outline-primary{
    background: #ffffff;
}
.btn-outline-primary:hover{
    background: #007AFF;
}


.top-content-text{
    margin-top: 10%;
}
